<head>
    <style>
        .header {
            background-color: #080F1F;
        }
        .header_logo {
            color: #8FA0CA;
        }
        .header a {
            color: #8FA0CA;
        }
        .header a:hover {
            color: #8FA0CA;
        }
    </style>
</head>

<header class = "header">
    <a href = "/" class = "header_logo"> RadComics </a>
    
    <nav class = "header_nav">
        <ul>
            <li> <a href = "/collections" class = ""> Collections </a> </li>
            <li> <a href = "/users" class = ""> Users </a> </li>
            <li> <a href = "/authors" class = ""> Authors </a> </li>
        </ul>    
    </nav>
</header>